[commit]
	gpgsign = true
[user]
	signingkey = C5057420D8EAD2BC
	name = Chahat
	email = chahat@disroot.org
[gpg]
	program = gpg
[init]
	defaultBranch = main
[fetch]
	prune = true
[push]
	autoSetupRemote = true
	default = simple
[pull]
	rebase = true
[core]
	editor = nvim
