[commit]
	gpgsign = true
[user]
	signingkey = C5057420D8EAD2BC
	name = Chahat
	email = chahat@disroot.org
[gpg]
	program = gpg
[init]
	defaultBranch = main
[fetch]
	prune = true
[push]
	autoSetupRemote = true
	default = simple
[pull]
	rebase = true
[core]
	editor = nvim
[alias]
	st = status -sb
	co = checkout
	cob = checkout -b
	br = branch
	amend = commit --amend --no-edit
	undo = reset --soft HEAD~1
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
